* {
  margin: 0;
  padding: 0;
}

canvas#canvas {
  display: block;
  background: #360033;
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
  background: linear-gradient(to bottom, #0b8793, #360033); 
}